
@keyframes changeColor {
    from { background: transparent; }
    to { background: #22A426; }
}
header {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 14%;
    width: 100%;
    color: white;
    animation: changeColor linear both;
    animation-timeline: scroll(y);
    animation-range: 0 300px; /* scroll hone tak color change hoga */
    z-index: 9999;
    align-items: center;
   
    justify-content: space-between;
}
.header-left-side{
    display: flex;
    align-items: center;
    gap:1%;
    width:30%;
    padding-left:5%;
}
.logo-container{
    width:10vh;
    margin-left: 6%;
}
.logo-container img{
    height: 100%;
    width:100%;
     border-radius: 10%;
}
.comp-name{
    color:white;
    font-family: "merienda one";
    font-size: 1.25rem;
}
.comp-name p{
   margin-top: 0px;
  font-size: 0.875rem;
}
.header-right-side{
    width:200%;
    margin-left: 20%;
}
.header-right-side ul{
    display: flex;
    list-style: none;
    font-size:1.5rem;
    font-family: Roboto;
    color: white;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}
.header-right-side a{
    color:white;
    text-decoration: none;
}
/* Hide checkbox */
    .dropdown input {
      display: none;
    }

    /* Menu button */
    .menu-btn {
      background-color: #22A426;
  color: white;
  padding: 2% 2%;
  cursor: pointer;
  border-radius: 5px;
  display: none;
  margin-top: 2%;
  font-size: 0.8rem;
    }

    /* Dropdown content */
    .dropdown-content {
       display: none;
  position: fixed; /* ✅ fixed so it floats above all and doesn’t affect layout */
  top: 70px; /* ✅ exactly below header */
  right: 5%;
  width: 40%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 10000; /* ✅ stays above header */
  overflow: hidden;
     
    }

    .dropdown-content a {
      color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
    }
 .dropdown-content a:hover {
      background-color: #ddd;
    }

    /* When checkbox checked → show dropdown */
    .dropdown input:checked ~ .dropdown-content {
      display: block;
    }
    .hero-image-container{
       height:60%;
        width:100%;
        position: relative;
    }
    .hero-image-container img{
        height:100%;
        width:100%;
    }
    .hero-title{
        position: absolute;
        font-weight: bold;
        font-size:3rem;
        color: white;
        font-family:'Josefin Sans', sans-serif;
        line-height: 3rem;
        top: 50%;
        left:10%;
    }
    .contact-section1{
        height:auto;
        width:100%;
        margin-top: 8%;
    }
    .contact-section1-container{
        height:auto;
        width:80%;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contact-left-side{
        height:auto;
        width:45%;
    }
    form{
        height:auto;
        width:90%;
        padding:10%;
    background-color: #EFF5FB;
    font-size:1rem;
    font-family: "Roboto slab",serif;
    margin-top:5%;
    margin-bottom: 5%;
    box-shadow: 0px 0px 42px 8px rgba(0,0,0, 0.25);
   
}
input{
    height:7%;
    width: 100%;
    margin-top:3%;
    margin-bottom:4%;
    border:none;
    padding:2% 1%;
}
.dropdown{
    height:10%;
    width: 100%;
    border:none;
    margin-top: 3%;
    font-family: "Roboto slab",serif;
    margin-bottom:4%;
    padding:2% 1%;
}
.dropdown option{
    border:none;
    font-family: "Roboto slab",serif;
}
textarea{
    border:none;
    margin-top:3%;
    width:100%;
}
.submit-button{
    background-color: #22A426;
    border:none;
    height:10%;
    width:40%;
    margin-top:5%;
    margin-left:30%;
    font-size: 1.2rem;
    font-family: Roboto;
    padding:4% 5%;
    margin-bottom: 15%;
}
.submit-button:hover{
    background-color: #084E0A;
    color: white;
}
.contact-image-container{
    height:40%;
    width:45%;
    justify-content: end;
}
.contact-image-container img{
    height:100%;
    width:100%;
}
.contact-section2{
    height:auto;
    width: 100%;
    background-color: #EFF5FB;
    margin-top: 10%;
}
.contact-section2 h1{
    margin-left: 10%;
    padding-top: 5%;
    font-family: Roboto;
}
.contact-section2-container{
    height:auto;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}
.phone-container{
    flex: 1;
    display: flex;
    align-items: center;
}
 .email-container{
    display: flex;
    flex: 1;
    align-items: center;
}
.location-container{
    display: flex;
    flex: 1;
    align-items: center;
}
.phone-img-container{
    height:40%;
    width:15%;
    margin-right: 5%;
}
.phone-img-container img{
    height:100%;
    width:100%;
}
.email-img-container{
    height:50%;
    width:15%;
     margin-right: 5%;
}
.email-img-container img{
    height:100%;
    width:100%;
}
.location-img-container{
    height:60%;
    width:30%;
    margin-left: 10%;
     margin-right: 3%;
}
.location-img-container img{
    height:100%;
    width:100%;
}
.phone-container h3,
.email-container h3,
.location-container h3{
    font-size: 1rem;
    font-family: "Roboto slab",serif;
}

    footer {
    margin-top:15%;
    background: #052229;
    color: white;
    padding: 5% 8%;
    display: flex;
    height: auto;
    width:auto;
    box-shadow: inset 0 0 200px 10px rgba(0,0,0,0.5);
}
.footer-container {
   display: flex;
}
.footer-section h3 {
    margin-bottom: 10%;
    margin-left: 10%;
    font-size:1.5rem;
    letter-spacing: 2%;
    font-weight: bold;
    font-family: Roboto;
    width: auto;
}
.footer-section p, 
.footer-section a {
    margin-left: 10%;
    font-size: 1rem;
    color: #ddd;
    text-decoration: none;
    line-height: 1.8rem;
    display: block;
    font-family: 'Roboto Mono', monospace;
}
.footer-icons{
    display:flex;
    height: 10%;
    margin-top: 8%;
}

.footer-icons a {
    justify-content: space-between;
    
    margin-right: 15%;
    font-size: 1.50rem;
}
.footer-icons .fa-instagram { color: #E1306C; }
.footer-icons .fa-facebook { color: #1877F2; }
.footer-icons .fa-whatsapp { color: #25D366; }
.footer-icons .fa-google { color: #DB4437; }
.map iframe {
    border: 0;
    width: 130%;
    height: 90%;
    border-radius: 10px;
}
.get-quote-link{
    height:0%; 
    width:30%;
     background-color: #22A426; 
     margin-top: 10%;
      margin-left: 35%;
      padding :1% 3%;
      text-align: center;
      align-items: center;
      color: white;
      font-size: 1.7rem;
      border-radius: 15px;
      
}
a{
  text-decoration: none;
  font-family: "Roboto slab",serif;
}
.get-quote-link:hover{
    background-color:#084E0A ;
}



/*  mobile  */

@media only screen and (min-width:360px) and (max-width: 768px){
    *{
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .header{
         height: 12%;
    }
    @keyframes changeColor {
    from { background: transparent; }
    to { background: #22A426; }
}
    .header-left-side{
    flex-basis: 100%;
    margin-left:3%;
    padding-left: 0%;
    gap:3%;
    }
    .logo-container{
        width:7vh;
        margin-left: 6%;
    }
    .comp-name{
        font-size: 0.6rem;
    }
    .comp-name p{
        font-size: 0.4rem;
    }
    .header-right-side{
        flex-basis:30%;
        flex-wrap: wrap;
    }
    .header-right-side ul{
        display: none;
        margin:0;
       
    }
    /* Show menu icon */
  .menu-btn {
    display: block;
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 10001;
  }

  /* dropdown positioning so that the menu shows below the icon, aligned right */
  .dropdown-content {
     position: fixed; /* ✅ ensures no scroll inside header */
    top: 25px; /* just below mobile header */
    right: 5%;
    width: 40%;
    z-index: 10000;
  }
    .hero-title{
        font-size:0.8rem;
        top: 20%;
    }
    .contact-section1-container{
        flex-direction: column;
    }
    .contact-left-side{
        width:100%;
    }
    form{
        width: 100%;
    font-size:0.8rem;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0, 0.25);
   
}
.submit-button{
    margin-top:25%;
    font-size: 1rem;
}
.contact-image-container{
    height:40%;
    width:100%;
}
.contact-section2 h1{
    font-size: 1rem;
}
.contact-section2-container{
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    
}
.phone-container,
.email-container{
    margin-bottom: 5%;
}
.phone-img-container{
    height:30%;
    width:10%;
}
.email-img-container{
    height:40%;
    width:10%;
}
.location-img-container{
    width:25%;
    margin-left: 0%;
}
.phone-container h3,
.email-container h3,
.location-container h3{
    font-size: 0.6rem;
    font-family: "Roboto slab",serif;
}
.footer-container {
    width:90%;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;

}
.footer-section h3 {
    margin-bottom: 10%;
    font-size:1rem;

}
.work-day-div h3{
    font-size:1rem;
    margin-top: 40% !important;

}
.work-day-div p{
    font-size: 0.7rem;
}
.footer-section i{
  margin-left: 0%;
  margin-right: 2%;
}
.footer-section p, 
.footer-section a {
    width:100%;
    font-size: 0.7rem;
    line-height: 1.5rem;
    padding-left: 5%;
}
.footer-icons{
    height: 20%;
}
.footer-icons a {
    
    margin-right: 4%;
    font-size: 1rem;
}
.map iframe {
    border: 0;
    width: 100%;
    height: 70%;
    border-radius: 10px;
}


}